@font-face {
    font-family: 'G';
    src: url('{% static "fonts/AbhayaLibre-Regular.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Georgia', serif; /* Было: 'Abhaya Libre' */
    color: var(--text-color);
}

.site-title {
    font-family: 'Georgia', serif; /* Было: 'Great Vibes' */
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.category-image-link:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.category-card p {
    margin-top: 18px;
    font-family: 'Georgia', serif; /* Было: 'AbhayaLibre-Bold' */
    font-size: 1rem;
}